<div class="flex h-screen bg-gray-100">
    <app-sidebar />
    <section class="flex flex-col flex-grow p-4 main-content">
        <app-topbar />
        <app-profile-form *ngIf="showForm" (closeFormEvent)="onCloseForm()" (dataSavedEvent)="refreshData()"
            [item]="selectedItem" />
        <div class="container mx-auto px-5 py-8">
            <h1 class="text-2xl font-bold mb-4">Perfil</h1>
            <div class="bg-white shadow-md rounded-lg overflow-hidden">
                <div class="p-4">
                    <div class="mb-4 flex flex-wrap items-center">
                        <div class="w-full sm:w-1/3 relative mb-2 sm:mb-0 sm:mr-2">
                            <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
                                <i class="fas fa-search h-5 w-5 text-blue-1000"></i>
                            </span>
                            <input (input)="searchData()" [(ngModel)]="searchQuery" class="border-2 border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-200 
                                rounded-md shadow-sm w-full py-2 pl-10 pr-3 placeholder-gray-400" type="text"
                                placeholder="Buscar..." />
                            <button *ngIf="searchQuery" type="button" (click)="searchQuery = ''"
                                class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-400 hover:text-gray-600 focus:outline-none">
                                <i class="fas fa-times h-5 w-5"></i>
                            </button>
                        </div>
                        <div class="w-full sm:w-1/6 mb-2 sm:mb-0 sm:mr-2">
                            <select (change)="searchData()" [(ngModel)]="searchSelect" class="border-2 border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-200 
                                rounded-md shadow-sm w-full py-2 px-3 placeholder-gray-200">
                                <option value="">Tipo de Gestión</option>
                                <option value="Público">Público</option>
                                <option value="Privado">Privado</option>
                                <option value="Convenio">Convenio</option>
                            </select>
                        </div>
                        <div class="w-full sm:w-1/3 flex items-center ml-3">
                            <button (click)="showForm= true" type="button"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2">
                                Agregar
                            </button>

                            <!-- Botón de exportaciones -->
                            <div class="relative inline-block text-left ml-3">
                                <button (click)="showBtnExport = !showBtnExport"
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md">
                                    Exportaciones
                                </button>

                                <!-- card de exportaciones -->
                                <div *ngIf="showBtnExport"
                                    class="absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded-md shadow-lg">
                                    <a class="px-4 py-2 text-sm text-gray-700 flex items-center hover:bg-green-100">
                                        <i class="icon ph-bold ph-file-x mr-2"></i> Excel
                                    </a>
                                    <a class="px-4 py-2 text-sm text-gray-700 flex items-center hover:bg-gray-100">
                                        <i class="icon ph-bold ph-file-csv mr-2"></i> CSV
                                    </a>
                                    <a class="px-4 py-2 text-sm text-gray-700 flex items-center hover:bg-red-100">
                                        <i class="icon ph-bold ph-file-pdf mr-2"></i> PDF
                                    </a>
                                </div>
                            </div>
                            <div class="flex items-center ml-3">
                                <input (input)="toggleActive()" [(ngModel)]="isActive" class="form-checkbox h-4 w-4"
                                    type="checkbox" />
                                <label class="ml-2" for="chkInactivos">{{
                                    isActive ? 'Activos' : 'Inactivos'
                                    }}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- table -->
                <div class="overflow-x-auto mt-4">
                    <table class="min-w-full bg-white border border-gray-200">
                        <thead class="bg-blue-700 text-white">
                            <tr>
                                <th class="py-2 px-4 border-b items-center">Nombre</th>
                                <th class="py-2 px-4 border-b items-center">
                                    Tipo de Gestión
                                </th>
                                <th class="py-2 px-4 border-b items-center">
                                    Codigo Modular
                                </th>
                                <th class="py-2 px-4 border-b items-center">DRE/GRE</th>
                                <th class="py-2 px-4 border-b items-center acciones">
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of list | paginate: { itemsPerPage: 10, currentPage: currentPage }"
                                class="hover:bg-gray-100">
                                <td class="py-2 px-4 border-b text-center">
                                    {{ item.name }}
                                </td>
                                <td class="py-2 px-4 border-b text-center">
                                    {{ item.managementType }}
                                </td>
                                <td class="py-2 px-4 border-b text-center">
                                    {{ item.modularCode }}
                                </td>
                                <td class="py-2 px-4 border-b text-center">
                                    {{ item.dreGre }}
                                </td>
                                <td class="acciones py-2 px-4 border-b text-center">
                                    <div class="selected-gender flex justify-center space-x-2">
                                        <span *ngIf="item.status==='A'" (click)="onEditItem(item)">
                                            <i class="ph-bold ph-pencil" style="color:#f2ae1b"></i>
                                        </span>
                                        <span *ngIf="item.status==='A'" (click)="deleteItem(item.id)">
                                            <i class="ph-bold ph-trash" style="color:#f21b1b"></i>
                                        </span>
                                        <span *ngIf="item.status==='I'" (click)="restoreItem(item.id)">
                                            <i class="ph-bold ph-check-square" style="color:#078600"></i>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="flex justify-end mt-4">
                        <pagination-controls (pageChange)="currentPage = $event" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>